{{ if not .isContainerDev }}
{{ if eq .chezmoi.os "darwin" }}

tap "reviewdog/tap"
tap "buo/cask-upgrade"

mas "Amphetamine", id: 937984704

cask "visual-studio-code"
cask "sublime-text"
cask "spotify"
cask "rectangle"
cask "rapidapi"
cask "postman"
cask "podman-desktop"
cask "pgadmin4"
cask "obsidian"
cask "markedit"
cask "logitech-presentation"
cask "iterm2"
cask "firefox"
cask "claude-code"
cask "alfred"
cask "adobe-acrobat-reader"
cask "1password"
cask "1password-cli"

brew "zsh"
brew "zsh-completions"
brew "wget"
brew "vale"
brew "uv"
brew "reviewdog/tap/reviewdog"
brew "pyenv"
brew "poppler"
brew "poetry"
brew "plantuml"
brew "pipx"
brew "pipenv"
brew "pip-completion"
brew "pinentry-mac"
brew "openssl"
brew "openslide"
brew "nvm"
brew "node"
brew "nmap"
brew "netaddr"
brew "ncdu"
brew "mozjpeg"
brew "mob"
brew "midnight-commander"
brew "maven"
brew "mas"
brew "launchctl-completion"
brew "jupyterlab"
brew "jq"
brew "jpeg"
brew "jenv"
brew "jabba"
brew "imagemagick"
brew "httpie"
brew "guile"
brew "graphviz"
brew "gocloc"
brew "gnupg"
brew "gitup"
brew "github-keygen"
brew "git"
brew "git-filter-repo"
brew "gh"
brew "ffmpeg"
brew "exiftool"
brew "docker"
brew "docker-compose"
brew "d2"
brew "coreutils"
brew "colima"
brew "claude-code-router"
brew "chezmoi"
brew "ccusage"
brew "bash-completion"
brew "age"
brew "adr-tools"

{{ if .isWorkLaptop }}tap "base-infrastructure/homebrew-taps", "{{onepasswordRead "op://work/dotfiles/base-infra-taps-url" }}", force_auto_update: true {{ end }}
{{ if .isWorkLaptop }}cask "intellij-idea"{{ end }}
{{ if .isWorkLaptop }}brew "awscli"{{ end }}
{{ if .isWorkLaptop }}brew "aider"{{ end }}
{{ if .isWorkLaptop }}brew "{{ onepasswordRead "op://work/dotfiles/work-aws-cli" }}" {{ end }}

{{ if .isPrivateLaptop }}mas "Tacx", id: 892366151{{ end }}
{{ if .isPrivateLaptop }}mas "AusweisApp2", id: 948660805{{ end }}
{{ if .isPrivateLaptop }}mas "Scack", id: 803453959{{ end }}
{{ if .isPrivateLaptop }}mas "WireGuard", id: 1451685025{{ end }}
{{ if .isPrivateLaptop }}mas "XCode", id: 497799835{{ end }}

{{ if .isPrivateLaptop }}cask "veracrypt"{{ end }}
{{ if .isPrivateLaptop }}cask "signal"{{ end }}
{{ if .isPrivateLaptop }}cask "qmk-toolbox"{{ end }}
{{ if .isPrivateLaptop }}cask "processing"{{ end }}
{{ if .isPrivateLaptop }}cask "openscad"{{ end }}
{{ if .isPrivateLaptop }}cask "obs"{{ end }}
{{ if .isPrivateLaptop }}cask "notion"{{ end }}
{{ if .isPrivateLaptop }}cask "macfuse"{{ end }}
{{ if .isPrivateLaptop }}cask "librecad"{{ end }}
{{ if .isPrivateLaptop }}cask "inkscape"{{ end }}
{{ if .isPrivateLaptop }}cask "grammarly-desktop"{{ end }}
{{ if .isPrivateLaptop }}cask "gcloud-cli"{{ end }}
{{ if .isPrivateLaptop }}cask "freecad"{{ end }}
{{ if .isPrivateLaptop }}cask "flutter"{{ end }}
{{ if .isPrivateLaptop }}cask "element"{{ end }}
{{ if .isPrivateLaptop }}cask "darktable"{{ end }}
{{ if .isPrivateLaptop }}cask "cloudflare-warp"{{ end }}
{{ if .isPrivateLaptop }}cask "calibre"{{ end }}
{{ if .isPrivateLaptop }}cask "antigravity"{{ end }}

{{ if .isPrivateLaptop }}brew "timewarrior"{{ end }}
{{ if .isPrivateLaptop }}brew "postgresql"{{ end }}
{{ if .isPrivateLaptop }}brew "platformio"{{ end }}
{{ if .isPrivateLaptop }}brew "opentofu"{{ end }}
{{ if .isPrivateLaptop }}brew "ollama"{{ end}}
{{ if .isPrivateLaptop }}brew "helm"{{ end }}
{{ if .isPrivateLaptop }}brew "golangci-lint"{{ end }}
{{ if .isPrivateLaptop }}brew "golang-migrate"{{ end }}
{{ if .isPrivateLaptop }}brew "gobject-introspection"{{ end }}
{{ if .isPrivateLaptop }}brew "gatsby-cli"{{ end }}
{{ if .isPrivateLaptop }}brew "esptool" {{ end}}
{{ if .isPrivateLaptop }}brew "delve"{{ end}}
{{ if .isPrivateLaptop }}brew "dart-sdk"{{ end }}
{{ if .isPrivateLaptop }}brew "composer"{{ end }}
{{ if .isPrivateLaptop }}brew "bazelisk"{{ end }}
{{ if .isPrivateLaptop }}brew "ansible"{{ end }}
{{ if .isPrivateLaptop }}brew "angular-cli"{{ end }}
{{ if .isPrivateLaptop }}brew "act"{{ end}}
{{ if .isPrivateLaptop }}brew "cocoapods"{{ end }} 
{{ end }}
{{ end }}
