{{- if not .isContainerDev }}
{{- if .isPrivateLaptop }}
[user]
    name = {{ onepasswordRead "op://private/dotfiles/Fullname" }}
    email = {{ onepasswordRead "op://private/dotfiles/github-public-email" }}
{{- end }}

{{- if .isWorkLaptop }}
[user]
    name = {{ onepasswordRead "op://work/dotfiles/Name" }}
    email = {{ onepasswordRead "op://work/dotfiles/email" }}
    signingkey = {{ range (onepassword "7dx3mgjh54s26asgxsszuzfwqe").fields -}}{{if (eq .label "public key") -}}{{     .value -}}{{   end -}}{{ end }}
{{- end }}

{{- end }}


[color]
    ui        = true

[color "branch"]
    current   = Green reverse black
    local     = Blue reverse white
    remote    = Cyan

[color "diff"]
    meta      = yellow bold
    frag      = magenta bold
    old       = red bold
    new       = green bold

[color "status"]
    added     = green
    changed   = red reverse white
    untracked = cyan

[diff]
    color = true

[merge]

[core]
    excludesfile = ~/.gitignore_global
{{- if not .isContainerDev }}
    editor = /opt/homebrew/bin/mcedit
{{- end }}
    pager = less -FRSX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol

[alias]
    st = status
    sw = switch
    ci = commit
    br = branch -a
    co = checkout
    coo = checkout --ours
    cot = checkout --theirs
    cp = cherry-pick
    stl = stash list
    sts = stash save
    stp = stash pop
    svr = svn rebase
    svc = svn dcommit
    df = diff -E -b -w -B
    lg = log -p
    lol = log --date=local --graph --decorate --pretty=format:'%C(green)%h %C(cyan) %<(15) %cn %C(reset) %C(white)%cd %C(reset)%C(auto)%d %C(yellow bold) %s%C(reset) (%cr)' --abbrev-commit
    lola = log --date=local --graph --decorate --pretty=format:'%C(green)%h %C(cyan) %<(15) %cn %C(reset) %C(white)%cd %C(reset)%C(auto)%d %C(yellow bold) %s%C(reset) (%cr)' --abbrev-commit --all
    ls = ls-files
    rl = reflog
    up = pull --rebase --autostash

[branch]
    autosetuprebase = always

[push]
    default = simple
    autosetupremote = true

[init]
    defaultBranch = main

{{- if not .isContainerDev }}
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
  allowedSignersFile = ~/.ssh/.allowed_signers

[credential "https://github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/opt/homebrew/bin/gh auth git-credential
{{- end }}

{{ if .isWorkLaptop }}
[url "{{ onepasswordRead "op://work/dotfiles/GHE-SSH-URL" }}"]
    insteadOf = {{onepasswordRead "op://work/dotfiles/GHE-HTTPS-URL"}}

[commit]
    gpgSign = true
[gpg]
    format = ssh

[includeIf "hasconfig:remote.*.url:git@github.com:abrauner/**"]
    path = ~/.gitconfig-abrauner-github

{{ end }}

{{ if .isPrivateLaptop }}
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
{{ end }}
