[user]
    name = {{ onepasswordRead "op://private/dotfiles/Fullname" }}
    email = {{ onepasswordRead "op://private/dotfiles/github-public-email" }}
    signingkey = {{ onepasswordRead "op://private/dotfiles/github-signingkey" }}
