{{ if .isWorkLaptop }}
{
  "$schema": "https://opencode.ai/config.json",
  "share": "disabled",
  "disabled_providers": ["opencode"],
  "autoshare": false,
  "autoupdate": true,
  "theme": "default",
  "provider": {
    "zllm": {
      "npm": "@ai-sdk/openai-compatible",
      "options": {
        "baseURL": "https://zllm.data.zalan.do/v1/",
        "apiKey": "{env:ZLLM_API_KEY}",
        "litellmProxy": true
      },
      "models": {
        "bedrock/anthropic.claude-sonnet-4-6": {
          "name": "Claude 4 Sonnet",
          "attachment": true,
          "modalities": { "input": ["text", "image", "pdf"], "output": ["text"] },
          "reasoning": false,
          "temperature": true,
          "tool_call": true
        },
        "gemini/gemini-3.1-pro-preview": {
          "name": "Gemini 3.1 Pro",
          "attachment": true,
          "reasoning": true,
          "temperature": false,
          "tool_call": true
        }
      }
    },
    "zllm-openai": {
      "npm": "@ai-sdk/openai",
      "options": {
        "baseURL": "https://zllm.data.zalan.do",
        "apiKey": "{env:ZLLM_API_KEY}",
        "compatibility": "strict",
        "litellmProxy": true
      },
      "models": {
        "openai/gpt-5.3-codex": {
          "name": "GPT 5.3 Codex",
          "reasoning": true,
          "tools": true
        }
      }
    }
  }
}
{{ end }}
