{{ onepasswordRead "op://private/dotfiles/github-public-email" }} valid-after="20260601",valid-before="20270101" {{ range (onepassword "dkqdyrp6mey425ov76zmifwrga").fields -}}{{   if (eq .label "public key") -}}{{     .value -}}{{   end -}}{{ end }} 
{{ onepasswordRead "op://work/dotfiles/email" }} valid-after="20260601",valid-before="20270101" {{ range (onepassword "7dx3mgjh54s26asgxsszuzfwqe").fields -}}{{   if (eq .label "public key") -}}{{     .value -}}{{   end -}}{{ end }} 
