{{- if (and .isPrivateLaptop (not .isContainerDev)) -}}
[core]
account = {{ onepasswordRead "op://private/dotfiles/email" }}
project = {{ onepasswordRead "op://private/dotfiles/gcloud-default-project" }}
{{- end -}}
