{{ if .isPrivateLaptop }}
{
  "env": {
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS": "0",
    "ANTHROPIC_BASE_URL": "http://172.16.73.86:1234",
    "ANTHROPIC_AUTH_TOKEN": "sk-lm-QMuu1rAP:dAR1WojsUmVCPBwNeYbe",
    "ANTHROPIC_MODEL": "google/gemma-4-e4b",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "google/gemma-4-26b-a4b",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "google/gemma-4-e4b",
    "CLAUDE_CODE_SUBAGENT_MODEL": "google/gemma-4-e4b"
  },
  "autoUpdates": 1
}
{{ end }}