{{- if .isPrivateLaptop -}}
{
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "{{ onepasswordRead "op://private/dotfiles/ANTHROPIC_AUTH_TOKEN" }}",
    "ANTHROPIC_BASE_URL": "{{ onepasswordRead "op://private/dotfiles/ANTHROPIC_BASE_URL" }}",

    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "google/gemma-4-e4b",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "qwen/qwen3.6-35b-a3b",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "google/gemma-4-e4b",
    "ANTHROPIC_MODEL": "google/gemma-4-e4b",
    "CLAUDE_CODE_SUBAGENT_MODEL": "google/gemma-4-e4b",

    "CLAUDE_CODE_DISABLE_EXPERIMENTAL_BETAS": "0",
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_ENABLE_TELEMETRY": "0",
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "CLAUDE_CODE_ENABLE_AWAY_SUMMARY": "0",

    "DISABLE_ERROR_REPORTING": "1",
    "DISABLE_EXTRA_USAGE_COMMAND": "1",
    "DISABLE_FEEDBACK_COMMAND": "1",
    "DISABLE_INSTALL_GITHUB_APP_COMMAND": "0",
    "DISABLE_LOGIN_COMMAND": "1",
    "DISABLE_LOGOUT_COMMAND": "1",
    "DISABLE_TELEMETRY": "1"
  },
  "enabledPlugins": {
    "chrome-devtools-mcp@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "remember@claude-plugins-official": true
  },
  "hooks": { "PreToolUse": [{
    "matcher": "Bash",
    "hooks": [{ "type": "command",
      "command": "rtk hook claude"
    }]
  }]},
  "alwaysThinkingEnabled": false,
  "autoUpdates": 1,
  "autoUpdatesChannel": "stable",
  "awaySummaryEnabled": true,
  "respectGitignore": true,
  "includeGitInstructions": true,
  "minimumVersion": "2.1.119",
  "cleanupPeriodDays": 365
}
{{ end }}
